# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# compiled objects
/obj/.[^.]*  # hidden files that arn't ..
/obj/*

# files open or left behind by vim
*.swp

# grade files
grade-out
